@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --blue-500: blue;
}

.bookc {
    display: flex;
    gap: 50px;
    flex-direction: row;
}

.bookimg {
    border-radius: 10px;
    max-width: 250px;
    height: fit-content;
    margin-left: 10px;
}

#title {
    border-left: 10px solid black;
    font-family: 'Righteous';
    background: transparent;
    transition: background 0.9s;
}

#title:hover {
    background: linear-gradient(to right, var(--primary-200), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
   
}

#st {
    font-family: 'Righteous';
}

@media (max-width: 768px) {
    .bookc {
        flex-direction: column;
        align-items: center;
    }

    .bookimg {
        margin-left: 0px;
        max-width: 100%;
        height: auto;
    }
}

.bookcstyle {
    box-shadow: 1px 0px 2px rgb(72, 70, 70);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.booktext {

    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
    padding: 10px;
    max-width: 800px;
    height: fit-content;
    margin: auto;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
}
.p-toast-container{
    width: 200px;
}