.bookshelf-page {
    padding: 20px;
}

.bookshelf-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookshelf-list {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: fit-content;
    justify-content: center;
}

.bookshelf-item {
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0.5px 0.5px 2px black;
    border-radius: 10px;
}

.create-bookshelf-form {
    margin-top: 30px;
}

.create-bookshelf-form input,
.create-bookshelf-form textarea {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

#bstitle {
    text-align: left;
    margin-top: 0px;
}

@media(max-width:768px){
    .bookshelf-header{
        flex-direction: column;
    }
}